<!--
  Generated template for the ItineraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-buttons left>
        <button ion-button icon-only (click)="this.loadManifest()">
          <ion-icon name="arrow-back"></ion-icon>
          Manifest
        </button>
    </ion-buttons>
    <ion-title text-center>{{this.itin ? itin.label() : "(N/A)"}}</ion-title>
    <ion-buttons end transparent>
      <chat-alert-button></chat-alert-button>
    </ion-buttons>
    <button ion-button menuToggle end>
      <ion-icon icon-start name="menu"></ion-icon>
    </button>
  </ion-navbar>

  <ion-toolbar transparent class="address-toolbar">
    <ion-row text-wrap class="address-label">
      <span>{{this.itin && itin.address ? itin.address.one_line_text() : '(Address missing)'}}</span>
    </ion-row>
    <ion-buttons right *ngIf="this.showNavigateButton()">
      <button ion-button icon-only (click)="this.launchNavigator()"><ion-icon name="navigate"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <!-- Address Notes -->
  <ion-row *ngIf="this.itin && this.itin.trip_address_notes">
    <ion-col no-padding padding-right col-sm-10 offset-sm-1 col-md-8 offset-md-2>
      <ion-card id="address-notes-card" class="notes-card">
        <ion-card-header>
          Address Notes
        </ion-card-header>
        
        <ion-card-content>
          {{this.itin.trip_address_notes}}
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <!-- Pickup Mobility Notes -->
  <ion-row *ngIf="this.showMobilityNotes()">
    <ion-col no-padding padding-right col-sm-10 offset-sm-1 col-md-8 offset-md-2>
      <ion-card id="mobility-notes-card" class="notes-card">
        <ion-card-header>
          Mobility Notes
        </ion-card-header>
        
        <ion-card-content>
          {{this.itin.mobility_notes}}
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <!-- Customer Notes -->
  <ion-row *ngIf="this.itin && this.itin.customer_notes">
    <ion-col no-padding padding-right col-sm-10 offset-sm-1 col-md-8 offset-md-2>
      <ion-card id="customer-notes-card"  class="notes-card">
        <ion-card-header>
          Customer Notes
        </ion-card-header>
        
        <ion-card-content>
          {{this.itin.customer_notes}}
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <!-- Trip Notes -->
  <ion-row *ngIf="this.itin && this.itin.trip_notes">
    <ion-col no-padding padding-right col-sm-10 offset-sm-1 col-md-8 offset-md-2>
      <ion-card id="trip-notes-card"  class="notes-card">
        <ion-card-header>
          Trip Notes
        </ion-card-header>
        
        <ion-card-content>
          {{this.itin.trip_notes}}
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <!-- Funding Source Notes -->
  <ion-row *ngIf="this.showFundingSource()">
    <ion-col no-padding padding-right col-sm-10 offset-sm-1 col-md-8 offset-md-2>
      <ion-card id="funding-source-card" class="notes-card">
        <ion-card-header>
          Funding Source
        </ion-card-header>
        
        <ion-card-content>
          {{this.itin.funding_source}}
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <!-- Return Trip Notes (when customer is dropped off at a outbound trip) -->
  <ion-row *ngIf="this.itin && this.itin.dropoff() && this.itin.return_trip_time && this.showProceedButton()">
    <ion-col no-padding padding-right col-sm-10 offset-sm-1 col-md-8 offset-md-2>
      <ion-card id="address-notes-card" class="notes-card">
        <ion-card-header>
          Return Trip
        </ion-card-header>
        
        <ion-card-content>
          {{this.itin.formatReturnTripTime()}}
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <!-- Feedback info from last action -->
  <ion-row *ngIf="this.itin && this.itin.hasTrip()" class="action-info">
    <ion-col no-padding padding-right col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center>
      <div *ngIf="this.active && !this.itin.pending()">
        <span class="action-label">{{this.itin.lastActionInfo()}}</span>
        <button ion-button color="danger" icon-start (click)="this.executeUndo()">
          <ion-icon name="undo"></ion-icon>
          Undo
        </button>
      </div>
      <ion-list class="app-list" *ngIf="!this.active && this.itin.finished()">

        <div class="history-action-list" text-wrap *ngFor="let actionLabel of this.itin.historyActions()">

          <span class="action-label">{{actionLabel}}</span>

        </div>
      </ion-list>
    </ion-col>
  </ion-row>

  <!-- Begin & end Run -->
  <ion-row>
    <ion-col *ngIf="this.itin && this.itin.beginRun()" col-md-12>
        <ion-grid>
          <form (ngSubmit)="startRun()" #startRunForm="ngForm">

            <!-- Inspections -->
            <ion-list>
              <ion-list-header  class="run-list-header">
                Vehicle Inspections
              </ion-list-header>
              <ion-item class="inspection-item" (click)="clicked = 'item '+ i" tappable *ngFor="let insp of inspections">
                <span text-wrap>{{insp.description}}</span>
                <button type="button" class="inspection-pass" ion-button icon-only large clear item-left 
                            [ngClass]="{'inspection-responded': insp.checked}"
                            (click)="markInspectionChecked(insp)"
                            [disabled]="this.itin.finished()">
                  <ion-icon name="checkmark"></ion-icon>
                </button>
                <button type="button" class="inspection-fail" ion-button icon-only large clear item-left
                            [ngClass]="{'inspection-responded': insp.checked == false}"
                            (click)="markInspectionUnchecked(insp)"
                            [disabled]="this.itin.finished()">
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-item>
            </ion-list>

            <ion-list>
               <ion-list-header class="run-list-header">
                Notes
              </ion-list-header>
              <ion-item>
                <ion-textarea  type="text"
                            placeholder="Driver notes..."
                            name="notes"
                            [(ngModel)]="driver_notes" 
                            [disabled]="this.itin.finished()"
                            >
                </ion-textarea>
              </ion-item>
            </ion-list>

            <ion-list>
              <ion-item>
                <ion-label color="primary">Start Odometer</ion-label>
                <ion-input  type="number"
                            placeholder="Start Odometer"
                            name="start_odometer"
                            [(ngModel)]="run_start_odometer" 
                            [disabled]="this.itin.finished()"
                            required>
                </ion-input>
              </ion-item>
            </ion-list>

            <ion-row>
              <ion-col text-center>
                <button ion-button round large 
                  class="app-button-primary center" 
                  type="submit" 
                  *ngIf="this.showStartRunButton()"
                  [disabled]="!startRunForm.form.valid || !inspectionsResponded()">
                  Start Run
                </button>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </ion-col>

      <ion-col text-center *ngIf="this.itin && this.itin.endRun()" col-md-12>
        <ion-row>
          <ion-col text-center>
            <button ion-button round large
                    id="depart-button"
                    *ngIf="this.showDepartButton()"
                    (click)="this.depart()">
              Depart
            </button>
            <button ion-button round large
                    id="arrive-button"
                    *ngIf="this.showArriveButton()"
                    (click)="this.arrive()">
              Arrived
            </button>
          </ion-col>
        </ion-row>

        <ion-grid>  
          <form [formGroup]="endRunFormGroup" *ngIf="this.itin && this.itin.arrived()" (ngSubmit)="endRun()" #endRunForm="ngForm">
            <ion-list>
              <ion-item>
                <ion-label color="primary">End Odometer</ion-label>
                <ion-input  formControlName="formControlEndOdometer"
                            type="number"
                            placeholder="End Odometer"
                            name="end_odometer"
                            [(ngModel)]="run_end_odometer" 
                            min="{{ run_start_odometer }}"
                            [disabled]="!this.active || this.itin.finished()"
                            required>
                </ion-input>
              </ion-item>
            </ion-list>

            <ion-row>
              <ion-col text-center>
                <button ion-button round large 
                  class="app-button-primary center" 
                  type="submit" 
                  *ngIf="this.showEndRunButton()"
                  [disabled]="!endRunForm.form.valid">
                  End Run
                </button>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </ion-col>
  </ion-row>

  <!-- Fare -->
  <ion-row>
    <ion-col *ngIf="this.itin && this.itin.showFare()" col-sm-4 offset-sm-4>
        <ion-grid>
          <form (ngSubmit)="processFare()" #fareForm="ngForm">

            <ion-list>
              <ion-item>
                <ion-label color="primary">{{this.itin.fare.fare_type | titleCase}}</ion-label>
                <ion-input  type="number"
                            placeholder="Enter amount"
                            name="fare_amount"
                            [(ngModel)]="this.itin.fare.amount" 
                            [disabled]="this.itin.finished()"
                            required>
                </ion-input>
              </ion-item>
            </ion-list>

            <ion-row>
              <ion-col text-center>
                <button *ngIf="this.showSkipDonationButton()" 
                  ion-button round large 
                  type="button"
                  (click)="this.skipDonation()">
                  Skip
                </button>
                <button ion-button round large 
                  type="submit" 
                  [disabled]="!fareForm.form.valid">
                  Collected
                </button>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </ion-col>
  </ion-row>

  <!-- Action buttons -->
  <ion-row class="action-buttons">
      <ion-col text-center *ngIf="this.itin && this.itin.pickup() && !this.itin.finished()">
        <button ion-button round large
                id="depart-button"
                *ngIf="this.showDepartButton()"
                (click)="this.depart()">
          Depart
        </button>
        <button ion-button round large
                id="arrive-button"
                *ngIf="this.showArriveButton()"
                (click)="this.arrive()">
          Arrived
        </button>
        <button ion-button round large
                id="pickup-button"
                *ngIf="this.showPickupButton()"
                (click)="this.pickup()">
          Picked Up
        </button>
        <button ion-button round large
                id="noshow-button"
                *ngIf="this.showNoshowButton()"
                (click)="this.noshow()">
          No Show
        </button>
      </ion-col>

      <ion-col text-center *ngIf="this.itin && this.itin.dropoff() && !this.itin.finished()">
        <button ion-button round large
                id="depart-button"
                *ngIf="this.showDepartButton()"
                (click)="this.depart()">
          Depart
        </button>
        <button ion-button round large
                id="arrive-button"
                *ngIf="this.showArriveButton()"
                (click)="this.arrive()">
          Arrived
        </button>
        <button ion-button round large
                id="dropoff-button"
                *ngIf="this.showDropoffButton()"
                (click)="this.dropoff()">
          Dropped Off
        </button>
      </ion-col>

      <ion-col text-center *ngIf="this.showProceedButton()">
        <button ion-button round large
                id="show-next-itin-button"
                *ngIf="this.getNextItin()"
                (click)="this.navToNextItin()">
          Proceed to Next Stop
        </button>
      </ion-col>

  </ion-row>

</ion-content>

<!-- Time info in footer-->
<ion-footer no-border>
  <div *ngIf="this.itin && !run.completed()">
    <ion-toolbar>
      <ion-row id="itin-time-info" [ngClass]="{'itin-eta-early': this.itin.gap_status() == 2, 'itin-eta-late': this.itin.gap_status() == 3}">
        <ion-col col-sm-3>
          <ion-row>TIME</ion-row>
          <ion-row class="time-highlight">{{this.currentTime | amDateFormat:'hh:mm A'}}</ion-row>
        </ion-col>
        <ion-col col-sm-3>
          <ion-row>SCH</ion-row>
          <ion-row class="time-highlight">{{this.itin.time_seconds | prettyTimeFromSeconds}}</ion-row>
        </ion-col>
        <ion-col col-sm-3 class="itin-info-eta">
          <ion-row>ETA</ion-row>
          <ion-row class="time-highlight">{{this.itin.eta_seconds | prettyTimeFromSeconds}}</ion-row>
        </ion-col>
        <ion-col col-sm-3 class="itin-info-time-gap">
          <ion-row>GAP</ion-row>
          <ion-row class="time-highlight">{{this.itin.gap_status() > 1 ?  (this.itin.gap_in_seconds() | amDuration:'seconds') : ''}} {{this.itin.gap_status_label()}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-footer>

