page-itinerary {
  #itin-time-info {
    color: $appWhite;
    padding: 0 size(1);
  }

  .time-highlight {
    font-size: $font-size-lg;
  }

  .itin-info-highlighted .itin-info-card {
    background: $appMdBlue;
  }

  .itin-eta-early {
    .itin-info-eta, .itin-info-time-gap {
      background: $appGrenn;
    }
  }

  .itin-eta-late {
    .itin-info-eta, .itin-info-time-gap {
      background: $appRed;
    }
  }

  .address-toolbar {
    button, .address-label {
      color: $appBlue;
      font-size: $font-size-lg;
    }
  }

  .action-info {
    button {
      background: $appRed;
      font-size: $font-size-md;
    }
    .action-label {
      color: $appBlue;
      font-size: $font-size-lg;
    }
  }

  .notes-card {
    .card-header {
      color: $appBlue;
    }
  }

  .action-buttons {
    margin-top: size(3);
  }

  ion-list-header.run-list-header {
    border-top: none;
    color: $primary;
    font-weight: 500;
    font-size: $font-size-md;
    margin-bottom: 0;
  }

  .inspection-responded {
    background: $appMdGray;
    color: $appWhite;
  }
}
