/* FORMS AND INPUTS */


// Basic APP Form Input Field (white, sharp corners, small spacing between)
// EXAMPLE: <ion-input class="APP-input"></ion-input>
ion-input.app-input {
  
  background-color: $appWhite;
  margin: size(-5) 0;
  padding-left: size(1);
  
  ::placeholder {
    color: $appDkGray;
  }
  
}

ion-input.app-input-border {
  border: 1px solid $primary;
}
