<ion-menu side="right" [content]="content" persistent="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{this.global && this.global.user ? this.global.user.name : 'RideAVL'}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- If signed in... -->
      <div *ngIf="auth.isSignedIn(); else notSignedIn">
          <!-- Build a button for each page listed in the signedInPages attribute -->
          <button ion-item menuClose
                  class="item-heading"
                  *ngFor="let p of signedInPages"
                  (click)="openPage(p)">
            <ion-icon item-left name="{{p.icon}}"></ion-icon> {{ p.title }}
          </button>
      </div>

      <!-- If not signed in... -->
      <ng-template #notSignedIn>
        <!-- Build a button for each page listed in the signedOutPages attribute -->
        <button ion-item menuClose
                class="item-heading"
                *ngFor="let p of signedOutPages"
                (click)="openPage(p)">
          <ion-icon item-left name="{{p.icon}}"></ion-icon> {{ p.title }}
        </button>
      </ng-template>
      
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>