<!--
  Generated template for the RunsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title text-center>{{run.name || 'Empty'}} Manifest{{run && run.completed() ? ' (Completed)' : ''}}</ion-title>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding fullscreen>

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-sm-10 offset-sm-1 col-md-8 offset-md-2>

        <ion-list class="app-list">

          <!-- ITIN DETAILS -->
          <div class="itin-list" text-wrap *ngFor="let itin of itineraries">

            <!-- Itin info -->
            <itinerary-info [itin]="itin" [ngClass]="{'itin-info-highlighted': this.activeItinerary == itin}" (click)="loadItin(itin)"></itinerary-info>

          </div>
        </ion-list>
        <h2 *ngIf="itineraries.length == 0">
          No Itinerary
        </h2>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer no-border>
  <div *ngIf="!run.completed()">
    <ion-toolbar>
      <ion-title class="manifest-next-stop"> {{this.getNextItinTitle()}}</ion-title>
      <hr class="manifest-next-divider">
      <ion-row id="itin-time-info" [ngClass]="{'itin-eta-early': this.activeItin.gap_status() == 2}" [ngClass]="{'itin-eta-late': this.activeItin.gap_status() == 3}">
        <ion-col col-sm-3>
          <ion-row>TIME</ion-row>
          <ion-row class="time-highlight">{{this.currentTime | amDateFormat:'hh:mm A'}}</ion-row>
        </ion-col>
        <ion-col col-sm-3>
          <ion-row>SCH</ion-row>
          <ion-row class="time-highlight">{{this.activeItin.time_seconds | prettyTimeFromSeconds}}</ion-row>
        </ion-col>
        <ion-col col-sm-3 class="itin-info-eta">
          <ion-row>ETA</ion-row>
          <ion-row class="time-highlight">{{this.activeItin.eta_seconds | prettyTimeFromSeconds}}</ion-row>
        </ion-col>
        <ion-col col-sm-3 class="itin-info-time-gap">
          <ion-row>GAP</ion-row>
          <ion-row class="time-highlight">{{this.activeItin.gap_status() > 1 ?  (this.activeItin.gap_in_seconds() | amDuration:'seconds') : ''}} {{this.activeItin.gap_status_label()}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-footer>
