itinerary-info {
  .itin-info-card {
    margin-bottom: size(2);
    border: 2px solid $primary;
    border-radius: size(2);
    padding: size(1);
    cursor: pointer;
    background: $appLightBlue;
    font-size: $font-size-md;
  }

  .itin-info-title {
    font-weight: bold;
  }
}
